@model IEnumerable<UserWithRole>
@{
    ViewData["Title"] = "User List";
    string message = (string)ViewData["Message"] ?? "";
}

<p class="text-danger">@message</p>

<table class="table">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Role</td>
            <td>Validity Status</td>            
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @if(Model != null){
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.User.FirstName</td>
                    <td>@user.User.LastName</td>
                    <td>@user.User.Email</td>
                    <td>@user.Role</td>
                    <td>@user.User.ValidityStatus</td>
                    <td>
                        @if (user.User.ValidityStatus == UserValidityStatus.Active)
                        {
                            <a class="btn btn-danger btn-sm" asp-controller="Account" asp-action="Block" asp-route-id="@user.User.Id">Block</a>
                        }
                        else
                        {
                            <a class="btn btn-success btn-sm" asp-controller="Account" asp-action="Unblock" asp-route-id="@user.User.Id">Unblock</a>
                        }
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>
